<h5 class="title">Conferencia Misionera 2024</h5>
<div class="container-wrapper">
  <div class="container">
    <span class="chart-title">Estadísticas por Zona</span>
    <canvas
      baseChart
      [datasets]="chartData.datasets"
      [labels]="chartData.labels"
      [type]="chartType"
      [options]="chartOptions"
      class="graph"
    ></canvas>
  </div>

  <div class="container">
    <span class="chart-title">Estadísticas por día</span>
    <canvas
      baseChart
      [datasets]="chartData2.datasets"
      [labels]="chartData2.labels"
      [type]="chartType2"
      [options]="chartOptions2"
      class="graph"
    ></canvas>
  </div>
</div>

<div class="container-full">
  <span class="chart-title centered-title">Asistencia Total por Zona</span>
  <canvas
    baseChart
    [datasets]="chartData3.datasets"
    [labels]="chartData3.labels"
    [type]="chartType3"
    [options]="chartOptions3"
    class="graph"
  ></canvas>
</div>
